{% extends "layout.html" %}
{% block title %}{{ application["human_name"] }}{% endblock %}
{% block body %}
  <h1>{{ application["human_name"] }}</h1>
  <table>
    <tbody>
      <tr>
        <th>Class</th>
        <td>{{ application["class_name"] }}</td>
      </tr>
      <tr>
        <th>Documentation</th>
        <td>
          <ul>
          {% for url in application["doc_urls"] %}
            <li><a href="{{ url }}">{{url}}</a></li>
          {% endfor %}
          </ul>
        </td>
      </tr>
      <tr>
        <th>Downtime impact</th>
        <td>{{ application["downtime_impact"] | unundef }}</td>
      </tr>
      <tr>
        <th>End users</th>
        <td>
        {% if application["end_users"] != ":undef" %}
          <ul>
          {% for email in application["end_users"] %}
            <li><a href="mailto:{{ email }}">{{email}}</a></li>
          {% endfor %}
          </ul>
        {% endif %}
        </td>
      </tr>
      <tr>
        <th>Escalation period</th>
        <td>{{ application["escalation_period"] | unundef }}</td>
      </tr>
      <tr>
        <th>Notes</th>
        <td>
          <div class="notes">
          {% if application["notes"] %}
            {{ application["notes"] | unundef | markdown }}
          {% endif %}
          </div>
        </td>
      </tr>
      <tr>
        <th>Other FQDNs</th>
        <td>
          <ul>
          {% for fqdn in application["other_fqdns"] %}
            <li>{{ fqdn }}</li>
          {% endfor %}
          </ul>
        </td>
      </tr>
      <tr>
        <th>Owner</th>
        <td>{{ application["owner_uid"] | unundef }}</td>
      </tr>
      <tr>
        <th>Team</th>
        <td>{{ application["team"] | unundef }}</td>
      </tr>
      <tr>
        <th>Nodes</th>
        <td>
          <ul>
          {% for node in application["nodes"] | sort(attribute='facts.fqdn') %}
            <li><a href="../nodes/{{ node["certname"] }}.html">{{ node["facts"]["fqdn"] }}</a></li>
          {% endfor %}
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
{% endblock %}
