{% extends "layout.html" %}
{% block title %}Application inventory{% endblock %}
{% block body %}
  <h1>Application inventory</h1>
  <table>
    <thead>
      <tr>
        <th>Application</th>
        <th>Nodes</th>
      </tr>
    </thead>
    <tbody>
    {% for application in applications %}
      <tr id="{{ application }}">
        <th>
          <a href="./{{ application["class_name"] }}.html">{{ application["human_name"] }}</a>
        </th>
        <td>
          <ul>
          {% for node in application["nodes"] | sort(attribute="facts.fqdn") %}
            <li><a href="../nodes/{{ node["certname"] }}.html">{{ node["facts"]["fqdn"] }}</a></li>
          {% endfor %}
          </ul>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
