<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ path }}../static/general.css">
    <link rel="stylesheet" href="{{ path }}pygments.css">
    <script src="{{ path }}../static/moment.js" defer></script>
    <script src="{{ path }}../static/general.js" defer></script>
  </head>
  <body id="{{ body_id }}">
    <nav>
      <ul>
        <li><a href="{{ path }}index.html" class="backward">Home</a></li>
        <li><a href="{{ path }}nodes/index.html">Nodes</a></li>
        <li><a href="{{ path }}roles/index.html">Roles</a></li>
        <li><a href="{{ path }}services/index.html">Services</a></li>
      </ul>
    </nav>
    <main>
      {% block body %}{% endblock %}
    </main>
    <footer>
      {% block footer %}{% endblock %}
      <div id="generated-at">{{ generation_time }}</div>
    </footer>
  </body>
</html>
